//
@use "bootstrap";

$dc-primary: #0282f9;
$dc-banner-bg: #1c1c1c;
$dc-footer-bg: #303030;
$dc-text-dark: #464646;
$dc-text-white: #fffff2;
$dc-text-grey: #797777;

//Region Header

#site_header {
    .header-top {
        background-color: $dc-primary;
        .links {
            column-gap: 4rem;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    #site_nav {
        padding: 2rem 0;
        nav {
            column-gap: 2rem;
            a {
                text-decoration: none;
                color: $dc-text-dark;
                text-transform: uppercase;
                &.active,
                &:hover {
                    text-decoration: underline 4px $dc-primary;
                }
            }
        }
        input {
            border: none;
            border-bottom: 2px solid $dc-primary;
        }
    }
    .jumbo {
        background-image: url("../img/jumbotron.jpg");
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

//Region Main

section.comics {
    padding: 2rem 0;
    background-color: $dc-banner-bg;
    .card-img {
        aspect-ratio: 1/1;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    h5 {
        color: $dc-text-white;
        text-transform: uppercase;
        padding-top: 0.5rem;
    }
    .load-more-btn {
        padding: 1rem;
        text-align: center;
        button {
            background-color: $dc-primary;
            border: none;
            color: white;
            padding: 0.5rem 2rem;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

//Region Footer

#site_footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
}

//Page Show

.blue_banner {
    height: 100px;
    background-color: $dc-primary;
    .thumb {
        margin-top: -13rem;
        border: 1px solid white;
    }
}