//
@use 'bootstrap';

#site_header {
    .header-top {
        background-color: blue;
        .links {
            column-gap: 4rem;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    #site_nav {
        padding: 2rem 0;
        nav {
            column-gap: 2rem;
            a {
                text-decoration: none;
                color: #333333;
                text-transform: uppercase;
            }
        }
        input {
            border: none;
            border-bottom: 2px solid blue;
        }
    }

    .jumbo {
        background-image: url('../img/jumbotron.jpg');
        height: 450px;
        background-position: top;
    }
}

section.comics {
    padding: 2rem 0;
    background-color: black;
    img {
        width: 100%;
        aspect-ratio: 1/1;
    }
    h5 {
        color: white;
        text-transform: uppercase;
        padding-top: 0.5rem;
    }
}