//
@use "bootstrap";

$dc-primary: #0282f9;
$dc-banner-bg: #1c1c1c;
$dc-footer-bg: #303030;
$dc-text-dark: #464646;
$dc-text-white: #fffff2;
$dc-text-grey: #797777;

body {
    font-family: 'Montserrat', sans-serif;
}

//Region Header

#site_header {
    .header-top {
        background-color: $dc-primary;
        .links {
            column-gap: 4rem;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    #site_nav {
        padding: 2rem 0;
        nav {
            column-gap: 2rem;
            a {
                text-decoration: none;
                font-weight: bold;
                color: $dc-text-dark;
                text-transform: uppercase;
                &.active,
                &:hover {
                    text-decoration: underline 4px $dc-primary;
                }
            }
        }
        input {
            border: none;
            border-bottom: 2px solid $dc-primary;
        }
    }
    .jumbo {
        background-image: url("../img/jumbotron.jpg");
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

//Region Main

#main_page {
    padding: 6rem 0;
    background-color: $dc-banner-bg;
    p {
        margin-bottom: 0;
    }
}

section.comics {
    padding: 5rem 0;
    background-color: $dc-banner-bg;
    .section_title {
        width: 230px;
        background-color: #0282f9;
        margin-top: -7rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .card-img {
        aspect-ratio: 1/1;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    a {
        text-decoration: none;
    }
    h5 {
        color: $dc-text-white;
        text-transform: uppercase;
        padding-top: 0.5rem;
    }
    .load-more-btn {
        padding: 1rem;
        text-align: center;
        button {
            background-color: $dc-primary;
            border: none;
            color: white;
            padding: 0.5rem 2rem;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            &:hover {
                background-color: $dc-text-white;
                color: $dc-primary;
            }
        }
    }
}

//Region Footer

#site_footer {
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    a {
        text-decoration: none;
        color: white;
    }
    .dc_logo {
        background-image: url("../img/dc-logo-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

//Page Show

.blue_banner {
    height: 100px;
    background-color: $dc-primary;
    .thumb {
        margin-top: -13rem;
        border: 1px solid white;
    }
}

.comic_info {
    span {
        line-height: 3rem;
    }
}
